.icon-container {
    cursor: pointer;
    transition: color 0.2s;
    /* Smooth color transition */

    /* Define your default icon color here */
}

.icon-container.blue {
    color: blue;
    /* Change the color to blue when the blue class is applied */
}
.upload-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button input[type="file"] {
    display: none;
}