@tailwind base;
@tailwind components;
@tailwind utilities;

.styles{
    -webkit-appearance: none;
     -moz-appearance: none; 
     text-indent: 1px; 
     text-overflow: '';
     /* background-color: yellowgreen; */
     outline: none;
}
select{
    width: 30px;
    margin-top: 0%;
    padding-top: 0;
    outline: none;
    /* -webkit-appearance: none;
     -moz-appearance: none; 
     text-indent: 1px; 
     text-overflow: ''; */
     width: 50%
}
.PhoneInputCountryIconImg {
width: 30%;
}
.PhoneInputInput{
 outline: none;
 width: 30px;
display: none;
}
/* .PhoneInputCountry input{
 border: none;  
 width: 30px
} */
.PhoneInputCountryIcon{
width: 50% !important;
object-fit: contain !important;
}
.PhoneInputCountrySelect{
    float: right;
    order: 2;
    height: 20% !important; 
    text-align: left;
    margin-left: 0;
    width: 80%;
}

.PhoneInputCountrySelect[aria-label="Country Code"]::after {
    content: none !important;
  }
  .PhoneInput{
    text-align: left;
  }

  .phoneInputContainer{
    object-fit: cover;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .circular-wheel {
    width: 120px;
    height: 120px;
    border: 5px dashed #007bff; /* Blue color */
    border-radius: 50%;
    margin-top: 10px;
    justify-content: center;
  }
    